:root{
    
    --primary-font-color: #fff;
    --secondary-font-color: #000;
    --primary-background: #1a2238;
    --brand-color: #fdd935;
    --brand-color-2: #ff6a3d;
    --nav-color: #fdd935;
    --link-hover-color: #fff;
    
    --card-background: #10789610;
    --card-border:0.1rem solid #b0c6f0;
    --card-border-radius: 5px;
}

body {
    margin: 0 auto;
    background-color: var(--primary-background);
    color: var(--primary-font-color);
}

main {
    padding: 0.5rem;
    font-family: "Noto Sans", sans-serif;
}

footer, header {
    padding: 0.5rem;
    font-family: "Roboto", sans-serif;
}
header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-items: center;
    border-bottom: 2px solid var(--brand-color);
}
footer {
    background-color: var(--brand-color);
    color: var(--secondary-font-color);
    padding: 1rem 0;
    text-align: center;
    font-size: 1.1rem;
    width: 100%;
}

h1, h2, h3, h4 {
    margin:  1rem;
    font-family: "League Spartan", sans-serif;
}

h1, h2 {
    color: var(--brand-color);
}
h3, h4 {
    color: var(--brand-color-2);
}

nav {
    display: none;
    grid-gap: 10px;
    font-size: 1.2rem;
    grid-column: 1 / span 2;
    text-align: center;
    width: 90%;
}
nav a {
    color: var(--brand-color);
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    border-bottom: 2px solid var(--card-background);
    
}
nav .active {
    color: var(--link-hover-color);
    font-weight: 900;
    text-decoration : underline var(--link-hover-color) 5px;
    text-underline-offset: 13px;
}
nav a:hover {
    font-weight: 900;
    text-decoration : overline var(--link-hover-color) 2px;
}
nav.show {
    display: grid;
}
#menu::before {
    content: "≡";
    color: var(--nav-color);
    font-size: 2rem;
}
#menu.show::before {
    content: "X";
    font-size: 1.5rem;
}

img {
    object-fit: contain;
    border-radius: 6px;
    width: 100%;
}
figure, p {
    margin: 2px;
    padding: 0 1rem;
    font-size: .9rem;
}
section {
    margin: 2px 1rem;
}
header a {
    text-decoration: none;
}
a {
    color: var(--brand-color-2);
}
button {
    background: var(--brand-color);
    border: 1px var(--brand-color) solid;
    border-radius: 0.375rem;
    padding: 0.7rem;
    margin: .2rem 0 .5rem 0;
    font-weight: bold;
    color: var(--secondary-font-color);
}
button:hover {
    cursor: pointer;
    letter-spacing: 1px;
}


/* form styling */
form {
    display: block;
    padding: 0 1rem;
    min-width: 280px;
}
label {
    display: block;
    margin-top: 1rem;
    font-size: .9rem;
    font-weight: 500;
}
.d-flex label {
    margin-top: 0;
}
input[type='text'], 
input[type='date'], 
input[type='number'], 
input[type='email'], 
input[type='password'], 
input[type='tel'], 
select,
textarea {
    display: block;
    padding: 0.7rem;
    border-radius: 4px;
    border: var(--card-border);
    width: 90% !important;
    max-width: 300px;
    margin: .2rem 0 .5rem 0;
}
input:focus, 
select:focus, 
textarea:focus {
    outline: none;
    border: 2px solid var(--brand-color);
}
input:required, 
select:required, 
textarea:required {
    border-left:2px solid red;
}
input:required:valid, 
select:required:valid, 
textarea:required:valid {
    border-left: var(--card-border);
}
fieldset {
    border-radius: 4px;
    border: var(--card-border);
}
legend {
    font-size: .9rem;
}
form button[type='submit'] {
    width: 80%;
    margin: 1rem 10% 0 10%;
}
label sup, legend sup {
    color: rgb(158, 1, 1);
}
.chunk-label {
    margin-bottom: -.5rem;
}
.stacked-items {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}
.stacked-items input {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.stacked-items button {
    position: relative;
    z-index: 2;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: var(--card-background);
}


.card {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background);
    border: var(--card-border) ;
    border-radius: var(--card-border-radius);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: fit-content;
    max-width: 100%;
}
.card-header {
    background-color: var(--card-background);
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border-bottom: 2px solid var(--brand-color);
}
.card-body {
    padding: 10px;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}


.d-none {
    display: none !important;
}
.d-block {
    display: block !important;
}
.d-grid {
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr)); 
    grid-gap: 10px;
}
.d-flex {
    display: flex !important;
    flex-wrap: wrap;
}
.d-inline {
    display: inline-block !important;
}
.justify-around {
    justify-content: space-around;
}
.justify-center {
    justify-content: center;
    justify-items: center;
}
.justify-end {
    justify-content: end;
}
.align-center {
    align-content: center;
}

.heading-font {
    font-family: 'League Spartan', sans-serif;
    color: var(--brand-color);
    font-size: 2rem;
    font-weight: bold;
}
.mb-sm {
    margin-bottom: 1rem;
}
.mb-xl {
    margin-bottom: 4rem;
}
.mt-sm {
    margin-top: 1rem;
}
.mt-xl {
    margin-top: 4rem;
}
.decor-none {
    text-decoration: none;
    color: var(--brand-color);
}
.decor-none:hover {
    text-decoration: underline;
}

.item-card {
    display: flex;
    flex-direction: column;
    border: var(--card-border) ;
    border-radius: var(--card-border-radius);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 412px;
    max-height: 4rem;
    padding: .5rem;
    border-bottom: 1rem solid var(--brand-color);
    font-size: .8rem;
}

.item-card th {
    text-align: end;
    width: 50px;
}

.display-at-mobile {
    display: block;
    margin-top: -4rem;
}
.display-at-large {
    display: none;
}
.logo-main-text {
    letter-spacing: -3px;
    font-size: 2rem;
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    margin-top: -4px;
}
.logo-sub-text {
    color: var(--primary-font-color);
    font-size: .6rem;
    text-align: center;
    margin-top: -6px;
    letter-spacing: 4px;
    font-family: "Poppins", sans-serif;
}
.logo-main-text, .logo-sub-text {
    margin-right: 0;
    margin-left: -5rem;
}
.text-info {
    color: var(--brand-color);
}
.grid-footer {
    display: block;
    justify-items: center;
}
#foundItems {
    min-height: 70vh;
}
/*Dialog styling*/
dialog {
    position: relative;
    width: 80%;
    max-width: 60vw;
    background-color: whitesmoke;
    padding: 1rem;
    border: 2px solid whitesmoke;
    border-radius: 5px;
  }
.close-button::before {
    content: "❌";
    float: right;
    cursor: pointer;
    margin-top: -.9rem !important;
  }

/* Large screens */
@media screen and (min-width: 37em) {
    header {
        display: flex;
        justify-content: space-around;
    }
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
    }
    nav a {
        padding: 0 0.5rem;
        border-bottom: 0;
    }
    nav .active {
        text-underline-offset: 20px;
    }
    nav.show {
        display: flex;
    }
    #menu {
        display: none;
    }
    input[type='text'], 
    input[type='date'], 
    input[type='number'], 
    input[type='email'], 
    input[type='password'], 
    input[type='tel'], 
    select, 
    textarea {
        max-width: 400px;
    }
    .d-grid-2-1 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        gap: 1rem;
    }
    .d-grid-1-2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        gap: 1rem;
    }
    .content-center button {
        margin-top: 1rem;
    }
    .display-at-mobile {
        display: none;
    }
    .display-at-large {
        display: block;
    }
    .grid-footer {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        align-items: center;
    }
    .logo-main-text, .logo-sub-text {
        margin-right: 10rem;
        margin-left: 0;
    }
    
}