
:root {
    --primary-color: #071013;
    --secondary-color: #083d4d;
    --emphasis-color: #0c3a0a;
    --brand-color: #107896;
    --brand-shade1: #e5f7fc;
    --brand-shade2: rgba(140, 220, 243, .1);
    --brand-shade3: #5eceee;

    --heading-font: "League Spartan", sans-serif;
    --paragraph-font:"Roboto", sans-serif;

    --nav-link-color: #fff;
    --nav-hover-underline-color: #BAFF29; 

    --card-background: white;
    --card-border:0.1rem solid #e5f7fc;
    --card-border-radius: 5px;
}

body {
    font-family: var(--paragraph-font);
    margin: 0 auto;
    background-color: var(--brand-shade2);
}
h1, h2, h3{
    font-family: var(--heading-font);
    color: var(--brand-color);
    margin: .175rem !important;
}
header {
    background-color: var(--brand-color);
    padding-top: 5px;
}
nav {
    display: none;
    font-size: 1.2rem;
    justify-content: space-around;
    padding: 1rem;
    margin-right: 3rem;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    letter-spacing: 1px;
    text-decoration : underline var(--nav-hover-underline-color);
    text-underline-offset: 8px;
}
nav .active {
    letter-spacing: 1px;
    text-decoration : underline var(--nav-hover-underline-color) double 2px;
    text-underline-offset: 8px;
}
nav.show {
    display: grid;
}
header a {
    text-decoration: none;
}
#menu::before {
    content: "≡";
    color: var(--nav-hover-link-color);
    font-size: 3rem;
    float: right;
    cursor: pointer;
    margin: 0 1rem;
    
}
#menu.show::before {
	content: "X";
    font-size: 2rem;
    margin: 0 1rem;
}
footer {
    background-color: var(--brand-color);
    color: white;
    padding:  1rem;
}

li {
    line-height: 3rem;
}
p {
    padding: .1rem;
    margin: .1rem;
    font-size: .9rem;
}
main {
    min-height: 65vh;
}

main > figure {
    padding: 0;
    margin: 0;
}
section {
    margin: 2px 1rem;
}
button {
    border: .15rem var(--brand-color) solid;
    background-color: var(--brand-color);
    color: white;
    border-radius: .375rem;
    padding: .375rem .7rem;
    margin: .2rem .5rem;
    font-weight: bold;
}
button:hover {
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

figure > h1 {
    position: absolute !important;
    top: 10%;
    left: 10%;
    color: seashell;
    z-index: 2;
    border-radius: 2px;
    padding: 0 5px;
}

figure > a > button  {
    position: absolute !important;
    bottom: 5%;
    right: 10%;
}

picture > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.7);

}

/*Class selectors*/
.grid-nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
}
.grid-2-1, .grid-2-1-1, .grid-footer, .grid-1-1 {
    display: block;
}
.grid-footer {
    justify-items: center;
}
.weatherCards, #bizSnapshot{
    min-height: 500px;
}
.img-nav {
    width: 48px;
    height: 48px;
    padding: 2px;
    border-radius: 15%;
    margin: 0px 10px 4px;
    
}

.float-right {
    float: right;
    align-self: center;
}

.align-center {
    align-items: center;
    align-content: center;
}
.cursor-pointer {
    cursor: pointer;
}

.img-znz {
    display: flex;
    justify-self: center;
    width: 10rem;
    height: auto;
}

.card {
    background-color: var(--card-background);
    border: var(--card-border) ;
    border-radius: var(--card-border-radius);
    border-left: .4rem solid var(--brand-color);
    border-top-left-radius: 5%;
    margin: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.card-header {
    background-color: var(--brand-shade2);
    padding: .5rem;
    font-size: 1.1rem;
    border-bottom: 2px solid var(--brand-color);
}
.card-body {
    padding: .375rem;
    flex-wrap: wrap;
}

.animate-cards {
    animation: fadeInUp 2s forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

.text-center {
    text-align: center;
}
.d-none {
    display: none !important;
}
.d-block {
    display: block !important;
}
.d-flex {
    display: flex !important;
    flex-wrap: wrap;
}
.d-flex-nowrap {
    display: flex !important;
    flex-wrap: nowrap;
}
.justify-center {
    justify-content: center;
    justify-items: center;
}

.heading-font {
    font-family: 'League Spartan', sans-serif;
    color: var(--brand-color);
    font-size: 2rem;
    font-weight: bold;
}

.mb-lg {
    margin-bottom: 2rem;
}
.mx-sm {
    margin: .08rem 0;
}
.my-sm {
    margin: 0 .08rem;
}
.mx-lg {
    margin: 1rem 0;
}
.mx-xl {
    margin: 2rem 0;
}
.my-lg {
    margin: 0 1rem;
}
.decor-none {
    text-decoration: none;
    color: var(--brand-color);
}
.decor-none:hover {
    text-decoration: underline;
}

.text-white {
    color: whitesmoke;
}

.text-danger {
    color: red;
}
.fnt-bold {
    font-weight: bold;
}
.fs-lg {
    font-size: 1.6rem;
}
.fs-md {
    font-size: 1.1rem;
}
.fs-sm {
    font-size: .6rem;
}

.dir-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    gap: 2.5rem 0;
    justify-content: center;
    align-items: stretch;
    min-height: 70vh;
}
.dir-grid section {
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
    padding: 1rem .5rem;
}

.dir-grid img {
    margin-top: -3rem;
	border: 1px solid var(--brand-shade1);
    width: 6rem;
    height: auto;
}

.dir-list {
    display: grid;
    justify-content: center;
}
.dir-list section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    align-items: center;
    max-width: 800px;
}

.dir-list img {
    display: none;
}
.dir-list section:nth-child(odd) {
	background-color: var(--brand-shade1);
}
.dir-list section h3 {
	font-size: 1rem;
    font-weight: 400;
}

.ps-relative {
    position: relative !important;
}
.biz-snap-img {
    width: 6rem;
    height: auto;
    padding: 2px;
    border-radius: 15%;
    margin: 0px 10px 4px;
    float: left;
}

/* form styling */
form {
    display: block;
    padding: .5rem;
    margin: 0 2%;
    /* width: 92%; */
}
form label {
    display: block;
    margin: .75rem 0;
    font-size: .9rem;
    font-weight: 500;
}
.d-flex label {
    margin-top: 0;
}
input[type='text'], 
input[type='date'], 
input[type='number'], 
input[type='email'], 
input[type='tel'], 
select,
textarea {
    display: block;
    padding: 14px;
    border-radius: 4px;
    border: 1px solid var(--brand-shade3);
    width: 90% !important;
    max-width: 300px;
}

form button[type='submit'] {
    width: 96%;
    margin: 2rem 2% 0 2%;
}
label sup {
    color: rgb(158, 1, 1);
}
input:focus, 
select:focus, 
textarea:focus {
    outline: none;
    border: .1rem solid var(--brand-color);
}
input:required, 
select:required, 
textarea:required {
    border-left:.1rem solid red;
}
input:required:valid, 
select:required:valid, 
textarea:required:valid {
    border:.1rem solid green;
}
fieldset {
    border-radius: 4px;
    border:.1rem solid var(--brand-color);
    margin-bottom: .5rem;
}
legend {
    font-size: .9rem;
}

/*Dialog styling*/
dialog {
    position: relative;
    width: 80%;
    max-width: 60vw;
    background-color: #fff;
    padding: 2rem;
    border: 2px solid whitesmoke;
    border-radius: 5px;
  }
.close-button::before {
    content: "❌";
    float: right;
    cursor: pointer;
    margin-top: -1.5rem !important;
  }
